

:root {
    --grey0: #F9F9FA;
    --grey5: #F0F0F1;
    --grey10: #E1E1E3;
    --grey30: #B4B4BB;
    --grey60: #5A5B6A;
    --grey70: #4A4B57;
    --grey100: #19191D;
    --blue30: #9DC2FF;
    --blue60: #2979FF;
    --blue70: #2264D1;
    --green30: #A9D3AB;
    --green60: #43A047;
    --green70: #37833B;
    --red30: #FAA9A3;
    --red60: #F44336;
    --red70: #C8372D;
    --blueGrey30: #B4BBE2;
    --blueGrey60: #97A0D6;
    --primaryAccent: #FF80FF;
    --primary30: #b6a8f6;
    --primary60: #5a40ec;
    --primary70: #3735c2;
    --borderRadius: 4px;
    --regularFont300: 'Rubik', sans-serif;
    --regularFont400: 'Rubik', sans-serif;
    --regularFont500: 'Rubik', sans-serif;
    --codeFont400: 'Roboto Mono', sans-serif;
  }
    
  
    /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
  
    /* Document
     ========================================================================== */
  
    /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   */
  
    html {
      line-height: 1.15; /* 1 */
      -webkit-text-size-adjust: 100%; /* 2 */
    }
  
    /* Sections
     ========================================================================== */
  
    /**
   * Remove the margin in all browsers.
   */
  
    body {
      margin: 0;
    }
  
    /**
   * Render the 'main' element consistently in IE.
   */
  
    main {
      display: block;
    }
  
    /**
   * Correct the font size and margin on 'h1' elements within 'section' and
   * 'article' contexts in Chrome, Firefox, and Safari.
   */
  
    h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }
  
    /* Grouping content
     ========================================================================== */
  
    /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
    hr {
      box-sizing: content-box; /* 1 */
      height: 0; /* 1 */
      overflow: visible; /* 2 */
    }
  
    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd 'em' font sizing in all browsers.
   */
  
    pre {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }
  
    /* Text-level semantics
     ========================================================================== */
  
    /**
   * Remove the gray background on active links in IE 10.
   */
  
    a {
      background-color: transparent;
    }
  
    /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
    abbr[title] {
      border-bottom: none; /* 1 */
      text-decoration: underline; /* 2 */
      -webkit-text-decoration: underline dotted;
              text-decoration: underline dotted; /* 2 */
    }
  
    /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
    b,
    strong {
      font-weight: bolder;
    }
  
    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd 'em' font sizing in all browsers.
   */
  
    code,
    kbd,
    samp {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }
  
    /**
   * Add the correct font size in all browsers.
   */
  
    small {
      font-size: 80%;
    }
  
    /**
   * Prevent 'sub' and 'sup' elements from affecting the line height in
   * all browsers.
   */
  
    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
  
    sub {
      bottom: -0.25em;
    }
  
    sup {
      top: -0.5em;
    }
  
    /* Embedded content
     ========================================================================== */
  
    /**
   * Remove the border on images inside links in IE 10.
   */
  
    img {
      border-style: none;
    }
  
    /* Forms
     ========================================================================== */
  
    /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-size: 100%; /* 1 */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
    }
  
    /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
    button,
    input {
      /* 1 */
      overflow: visible;
    }
  
    /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
    button,
    select {
      /* 1 */
      text-transform: none;
    }
  
    /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
      -webkit-appearance: button;
    }
  
    /**
   * Remove the inner border and padding in Firefox.
   */
  
    button::-moz-focus-inner,
    [type='button']::-moz-focus-inner,
    [type='reset']::-moz-focus-inner,
    [type='submit']::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
  
    /**
   * Restore the focus styles unset by the previous rule.
   */
  
    button:-moz-focusring,
    [type='button']:-moz-focusring,
    [type='reset']:-moz-focusring,
    [type='submit']:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  
    /**
   * Correct the padding in Firefox.
   */
  
    fieldset {
      padding: 0.35em 0.75em 0.625em;
    }
  
    /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from 'fieldset' elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    'fieldset' elements in all browsers.
   */
  
    legend {
      box-sizing: border-box; /* 1 */
      color: inherit; /* 2 */
      display: table; /* 1 */
      max-width: 100%; /* 1 */
      padding: 0; /* 3 */
      white-space: normal; /* 1 */
    }
  
    /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
    progress {
      vertical-align: baseline;
    }
  
    /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
    textarea {
      overflow: auto;
    }
  
    /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
    [type='checkbox'],
    [type='radio'] {
      box-sizing: border-box; /* 1 */
      padding: 0; /* 2 */
    }
  
    /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button {
      height: auto;
    }
  
    /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
    [type='search'] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }
  
    /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
    [type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  
    /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to 'inherit' in Safari.
   */
  
    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }
  
    /* Interactive
     ========================================================================== */
  
    /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
    details {
      display: block;
    }
  
    /*
   * Add the correct display in all browsers.
   */
  
    summary {
      display: list-item;
    }
  
    /* Misc
     ========================================================================== */
  
    /**
   * Add the correct display in IE 10+.
   */
  
    template {
      display: none;
    }
  
    /**
   * Add the correct display in IE 10.
   */
  
    [hidden] {
      display: none;
    }
  
  
  .input-button {
    
  
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px
  
  }
  
  
  .input-button .button {
    line-height: 20px;
    color: #F9F9FA;
    border-radius: 4px;
    
    width: 100%;
    
    padding: 5px 12px;
    margin: 7px 0;
    border: 2px solid transparent;
    outline: none;
    
    background-color: #4090ec;
   
    cursor: pointer;
  }
  
  
  .input-button .button:disabled, .input-button .button:hover:disabled {
    color: #B4B4BB;
    background-color: #E1E1E3;
  }
  
  
  .input-button .button.fake-hover,
  .input-button .button:hover {
    background-color: #91B2F0;
  }
  
  
  .input-button .button.fake-focus,
  .input-button .button:focus {
    background-color: #405aec;
    border: 2px solid #9DC2FF;
    outline: none;
  }
  
  
  .input-button .button.fake-click,
  .input-button .button:active {
    background-color: #355bc2;
    outline: none;
    border: 2px solid transparent;
  }
  .input-button-big {
    
  
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px
  
  }
  .input-button-big .button {
    line-height: 30px;
    color: #F9F9FA;
    border-radius: 4px;
    
    width: 100%;
    
    padding: 5px 12px;
    margin: 7px 0;
    border: 2px solid transparent;
    outline: none;
    
    background-color: #406eec;
   
    cursor: pointer;
  }
  .input-button-big .button:disabled, .input-button-big .button:hover:disabled {
    color: #B4B4BB;
    background-color: #E1E1E3;
  }
  .input-button-big .button.fake-hover,
  .input-button-big .button:hover {
    background-color: #a8b0f6;
  }
  .input-button-big .button.fake-focus,
  .input-button-big .button:focus {
    background-color: #4068ec;
    border: 2px solid #9DC2FF;
    outline: none;
  }
  .input-button-big .button.fake-click,
  .input-button-big .button:active {
    background-color: #3556c2;
    outline: none;
    border: 2px solid transparent;
  }
  
  .checkbox {
    
  margin-bottom: 14px
  
  }
  
  .checkbox .checkbox-title {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  ;
    color: #4A4B57;
    display: block;
    margin-bottom: 6px;
  }
  
  .checkbox .checkbox-subtitle {
    margin-top: 7px;
  }
  
  .checkbox .checkbox-inner {
    display: flex;
  }
  
  .checkbox input[type="checkbox"] {
    display: none;
  }
  
  .checkbox input[type="checkbox"] + label {
    position: relative;
    display: flex;
  }
  
  .checkbox input[type="checkbox"] + label::before {
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
    width: 12px;
    height: 12px;
    
    content: "";
    
    border: 1px solid #E1E1E3;
    margin-top: 2px;
  }
  
  .checkbox input[type="checkbox"]:checked+label::before {
    background-color: #5a40ec;
    
    color: #F9F9FA;
  }
  
  .checkbox input[type="checkbox"] + label svg {
    position: absolute;
    fill: #F9F9FA;
    left: 3px;
    top: 5px;
  }
  
  .checkbox label span {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
    
    display: block;
    margin-left: 16px;
  }
  
  .code-box {
    
  background-color: #4A4B57;
  padding: 20px;
  border-radius: 8px;
  color: #ECFDFE;
  word-wrap: break-word;
  
  }
  
  .fork-me-text {
    
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
    color: #F9F9FA;
    display: flex;  
  
  }
  .fork-me-image {
    
    padding: 9px;
    height: 18px;
    width: 38px;
  
  }
  .fork-me-fork {
    
    height: 14px;
    width: 14px;
  
  }
  .fork-me-link {
    
    text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  
  font-size: 12px;
  line-height: 18px;
  
  text-decoration: none;
  
  color: #4068ec
  
  }
  .fork-me-link.fake-visited, 
  .fork-me-link:visited {
    color: #354ac2;
  }
  .fork-me-link.fake-hover,
  .fork-me-link:hover {
    color: #a8b0f6;
  }
  .fork-me-link.fake-active, 
  .fork-me-link:active {
    color: #3572c2;
  }
  .fork-me-link {
  
    
    font-size: 14px;
    line-height: 20px;
    color: #F9F9FA;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row
  
  }
  .fork-me-link.fake-visited, 
    .fork-me-link:visited {
      color: #F9F9FA;
    }
  .fork-me-link.fake-hover,
    .fork-me-link:hover {
      color: #B4B4BB;
    }
  .fork-me-link.fake-active, 
    .fork-me-link:active {
      color: #B4B4BB;
    }
  .fork-me {
    background-color: #406eec;
    padding: 8px 32px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .message {
    
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
    color: #5936f4;
    border: 1px solid #a4a3fa;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-bottom: 32px;
  
  }
  
  .text-input-title {
    
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
    
  
  }
  .text-input-subtitle {
    
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 14px;
  
    
    margin-bottom: 15px;
  
  }
  .text-input {
    
    box-sizing: border-box;
      
    /* We use custom text definitions it breaks React Native form inputs: */
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    
    color: #4A4B57; 
  
    width: 100%;
    padding: 5px 12px;
    
    margin-top: 7px;
    margin-bottom: 14px;
    
    border: 1px solid #B4B4BB;
    border-radius: 4px;
    
    background-color: transparent;
    overflow: visible;
  
    outline: none
  
  }
  .text-input.fake-hover,
    .text-input:hover {
      border: 1px solid #a8b0f6;
    }
  .text-input.fake-focus,
    .text-input:focus {
      border: 1px solid #4043ec;
    }
  
  .typography-h1 {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  
  }
  .typography-h2 {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  
  }
  .typography-h3 {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
  }
  .typography-lead {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  
  }
  .typography-paragraph {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
  }
  .typography-button {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
  }
  .typography-code {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  
  color: #F9F9FA
  
  }
  .typography-caption {
    
  text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 14px;
  
  }
  .typography-link {
    text-rendering: geometricPrecision;
  
  font-family: 'Rubik', sans-serif;
  
  font-size: 12px;
  line-height: 18px;
  
  text-decoration: none;
  
  color: #406eec
  
  }
  .typography-link.fake-visited, 
  .typography-link:visited {
    color: #4335c2;
  }
  .typography-link.fake-hover,
  .typography-link:hover {
    color: #a8b0f6;
  }
  .typography-link.fake-active, 
  .typography-link:active {
    color: #354ac2;
  }
    